html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ebecf0;
  font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
}
#root {
  outline: thin solid red;
  width: 100%;
  height: 100%;
  display: flex;
}
.ticketsRoot {
  overflow-y: scroll;
  flex: 1;
}
.ticket > div {
  display: flex;
}
.ticket .votes {
  min-width: 160px;
}
.ticket .notes {
  padding-right: 8px;
}
.ticket h4 {
  margin-top: 1em;
  margin-bottom: 8px;
}
